﻿@model IEnumerable<RMS.Models.Item>

@{
    ViewBag.Title = "Index";
}



<div style="margin-left:60%;margin-top:-40px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Home", "AdminHome", "Admin", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("User Control", "Home", "Admin", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Item control", "Index", "Items", "", new { @class = "tx-wht" })
                </div>
            </td>

            <td>
                <div class="dropdown">
                    <span style="color:aliceblue">Generate reports</span>
                    <div class="dropdown-content">
                        <p>@Html.ActionLink("List of customers", "ListOfCustomer", "Admin")</p>
                        <p>@Html.ActionLink("List of items", "ListOfItems", "Admin")</p>
                        <p>@Html.ActionLink("List of order", "ListOfOreders", "Admin")</p>

                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<br />



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemQnt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemQnt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.itemId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.itemId }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.itemId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }   

</table>

<br />

<div style=" float:right">
    <p>
        @Html.ActionLink("Create New", "Create","", new { @class = "btn btn-primary" })
    </p>
</div>
