﻿@model RMS.Models.User

@{
    ViewBag.Title = "Details";
}

<div style="margin-left:70%;margin-top:-50px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Home", "UserHome", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Go to profile", "UserProfile", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px">  @Html.ActionLink("Cart", "DisplayCart", "", new { @class = "tx-wht" }) </div>
            </td>

            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Index", "Main", "", new { @class = "tx-wht" })
                </div>
            </td>

        </tr>
    </table>
</div>

<br />

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)

        </dt>


        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","", new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Delete account", "Delete","", new { @class = "btn btn-danger" }) |

</p>
