﻿@model RMS.Models.Item

@{
    ViewBag.Title = "DetailsItem";
}

<h2>DetailsItem</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemQnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemQnt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Home", "UserHome")
</p>
