﻿
@{
    ViewBag.Title = "GenarateOrder";
}



<div style="margin-left:70%;margin-top:-50px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Home", "UserHome", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Go to profile", "UserProfile", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px">  @Html.ActionLink("Cart", "DisplayCart", "", new { @class = "tx-wht" }) </div>
            </td>

            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Index", "Main", "", new { @class = "tx-wht" })
                </div>
            </td>

        </tr>
    </table>
</div>

<br />


<div style="margin-left:35%; background-color:rgb(0 148 255);color:black;width:300px;padding:20px">
    @HttpContext.Current.Session["userName"].ToString()
    , Yor oredr is successfully placed,

    <div>
        @Html.ActionLink("Go Back", "UserHome", "Users")
    </div>
</div>