﻿@model IEnumerable<RMS.Models.Item>

@{
    ViewBag.Title = "UserHome";
}






<div style="margin-left:70%;margin-top:-50px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Home", "UserHome", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Go to profile", "UserProfile", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px">  @Html.ActionLink("Cart", "DisplayCart", "", new { @class = "tx-wht" }) </div>
            </td>

            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Userlogin", "Users", "", new { @class = "tx-wht" })
                </div>
            </td>

        </tr>
    </table>
</div>

<br />

<div class="row col-md-12" style="margin-top:20px;margin-left:5%">

    @foreach (var item in Model)
    {
        <div class="row col-md-3">
            <div style="width:300px;background-color:rgba(0,0,0,0.5);padding:20px;color:aliceblue">
                <div>
                    <img src="@Url.Content(item.itemImage)" width="250" height="250" />
                </div>
                <center>
                    <div>
                        @Html.DisplayFor(modelItem => item.itemName)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.itemPrice)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.itemDescription)
                    </div>
                   </center>
                <div style="padding:10px;float:right">
                    @Html.ActionLink("Add to Cart", "AddtoCart", new { id = item.itemId }, new { @class = "btn btn-primary" })
                </div>
                    <div style="padding:10px;float:right">
                        @Html.ActionLink("Details", "DetailsItem", new { id = item.itemId }, new { @class = "btn btn-success" })
                    </div>
            </div>
        </div>

    }
</div>





