﻿@model RMS.Models.User

@{
    ViewBag.Title = "UserLogin";
}


<div style="margin-left:70%;margin-top:-40px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Home", "Index", "Main")
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Admin Login", "Index", "Admin")
                </div>
            </td>

            <td>
                <div>
                    @Html.ActionLink("User Login", "UserLogin", "Users")
                </div>
            </td>
        </tr>
    </table>
</div>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left:35%;margin-top:30px">

        <h2>UserLogin</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.remeberMe)

            <div class="col-md-10">
                @Html.EditorFor(model => model.remeberMe)
                @Html.ValidationMessageFor(model => model.remeberMe)
            </div>
        </div>



        <div class="form-group" style="margin-left:6%">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>

        <div>
            @Html.ActionLink("Don't have account? Create new", "Create")
        </div>
    </div>
}

