﻿@model IEnumerable<RMS.Models.Item>

@{
    ViewBag.Title = "AdminHome";
}




<div style="margin-left:60%;margin-top:-45px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Home", "AdminHome", "Admin","", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("User Control", "Home", "Admin", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Item control", "Index", "Items", "", new { @class = "tx-wht" })
                </div>
            </td>

            <td>
                <div class="dropdown">
                    <span style="color:aliceblue">Generate reports</span>
                    <div class="dropdown-content">
                        <p>@Html.ActionLink("List of customers", "ListOfCustomer", "Admin")</p>
                        <p>@Html.ActionLink("List of items", "ListOfItems", "Admin")</p>
                        <p>@Html.ActionLink("List of order", "ListOfOreders", "Admin")</p>

                    </div>
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Index", "Main", "", new { @class = "tx-wht" })
                </div>
            </td>
        </tr>
    </table>
</div>

<br />


<div class="row col-md-12" style="margin-top:20px;margin-left:5%">

    @foreach (var item in Model)
    {
        <div class="row col-md-3">
            <div style="width:300px;background-color:rgba(0,0,0,0.5);padding:20px;color:aliceblue">
                <div>
                    <img src="@Url.Content(item.itemImage)"  width="250" height="250"/>
                </div>
                <center>
                    <div>
                        @Html.DisplayFor(modelItem => item.itemName)
                    </div>
                    <div>
                        R.@Html.DisplayFor(modelItem => item.itemPrice)/=
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.itemDescription)
                    </div>
                </center>

                
                <div style="padding:10px;float:right">
                    @Html.ActionLink("Details", "Details", "Items", new { id = item.itemId }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>

    }
</div>







