﻿
@{
    ViewBag.Title = "GenerateReports";
}



<div style="margin-left:60%;margin-top:-40px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Home", "AdminHome", "Admin")
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("User Control", "Home", "Admin")
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Item control", "Index", "Items")
                </div>
            </td>

            
            <td>
                <div class="dropdown" >
                    <span style="color:aliceblue">Generate reports</span>
                    <div class="dropdown-content">
                        <p>@Html.ActionLink("List of customers", "ListOfCustomer", "Admin")</p>
                        <p>@Html.ActionLink("List of items", "ListOfItems", "Admin")</p>
                        <p>@Html.ActionLink("List of order", "ListOfOreders", "Admin")</p>

                    </div>
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Index", "Main")
                </div>
            </td>
        </tr>
    </table>
</div>

<br />

