﻿@model IEnumerable<RMS.Models.User>

@{
    ViewBag.Title = "Home";
}


<div style="margin-left:60%;margin-top:-40px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Home", "AdminHome", "Admin")
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("User Control", "Home", "Admin")
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Item control", "Index", "Items")
                </div>
            </td>

            <td>
                <div class="dropdown">
                    <span style="color:aliceblue">Generate reports</span>
                    <div class="dropdown-content">
                        <p>@Html.ActionLink("List of customers", "ListOfCustomer", "Admin")</p>
                        <p>@Html.ActionLink("List of items", "ListOfItems", "Admin")</p>
                        <p>@Html.ActionLink("List of order", "ListOfOreders", "Admin")</p>

                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<br />


<p>
    @Html.ActionLink("Create New User", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.userName }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.userName }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.userName }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
