﻿@model RMS.Models.Admin

@{
    ViewBag.Title = "Index";
}

<div style="margin-left:70%;margin-top:-45px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Home", "Index", "Main", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Admin Login", "Index", "Admin", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div>
                    @Html.ActionLink("User Login", "UserLogin", "Users", "", new { @class = "tx-wht" })
                </div>
            </td>
        </tr>
    </table>
</div>

<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left:35%;margin-top:30px">
        <h4>Admin Login</h4>
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remeberMe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.remeberMe)
                @Html.ValidationMessageFor(model => model.remeberMe, "")
            </div>
      

        <div class="form-group" style="margin-left:5%">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>


        </div>
}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
