﻿@model IEnumerable<RMS.Models.Item>

@{
    ViewBag.Title = "ItemList";
}

<h2>ItemList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemQnt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemQnt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.itemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.itemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.itemId })
        </td>
    </tr>
}

</table>
