﻿@model IEnumerable<RMS.Models.User>

@{
    ViewBag.Title = "ListOfCustomer";
}


<div style="margin-left:60%;margin-top:-40px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Home", "AdminHome", "Admin", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("User Control", "Home", "Admin", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Item control", "Index", "Items", "", new { @class = "tx-wht" })
                </div>
            </td>

            <td>
                <div class="dropdown">
                    <span style="color:aliceblue">Generate reports</span>
                    <div class="dropdown-content">
                        <p>@Html.ActionLink("List of customers", "ListOfCustomer", "Admin")</p>
                        <p>@Html.ActionLink("List of items", "ListOfItems", "Admin")</p>
                        <p>@Html.ActionLink("List of order", "ListOfOreders", "Admin")</p>

                    </div>
                </div>
            </td>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Index", "Main", "", new { @class = "tx-wht" })
                </div>
            </td>
        </tr>
    </table>
</div>

<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
         
        </tr>
    }

</table>
