﻿@model IEnumerable<RMS.Models.PaymentDetails>

@{
    ViewBag.Title = "Index";
}

<div style="margin-left:70%;margin-top:-50px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Home", "UserHome", "Users", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Go to profile", "UserProfile", "Users", "", new { @class = "tx-wht" }) </div>
            </td>
            <td>
                <div style="padding:10px">  @Html.ActionLink("Cart", "DisplayCart", "Carts", "", new { @class = "tx-wht" }) </div>
            </td>

            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Index", "Main", "", new { @class = "tx-wht" })
                </div>
            </td>

        </tr>
    </table>
</div>

<br />


<p>
    @Html.ActionLink("Add Payement details", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.ActionLink("Placed Order", "GenarateOrders", new { id = item.id })
            </td>
        </tr>
    }

</table>
