﻿
@{
    ViewBag.Title = "Index";
}



<div style="margin-left:70%;margin-top:-45px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Admin Login", "Index", "Admin", "", new { @class = "tx-wht" })
                </div>
            </td>
            <td>
                <div>
                    @Html.ActionLink("User Login", "UserLogin", "Users", "", new { @class = "tx-wht" })
                </div>
            </td>
        </tr>
    </table>
</div>

<br />
<div style="margin-left:30%;margin-top:150px;">
    <h2> Welcome to E-burger Pvt Ltd</h2>
</div>
<br />

<br />
<br />

