﻿@model IEnumerable<RMS.Models.Cart>

@{
    ViewBag.Title = "Index";
}


<div style="margin-left:70%;margin-top:-50px;position:absolute">
    <table>
        <tr>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Home", "UserHome","Users") </div>
            </td>
            <td>
                <div style="padding:10px"> @Html.ActionLink("Go to profile", "UserProfile","Users") </div>
            </td>
            <td>
                <div style="padding:10px">  @Html.ActionLink("Cart", "Index","Carts") </div>
            </td>

            <td>
                <div style="padding:10px;">
                    @Html.ActionLink("Log out", "Index", "Main")
                </div>
            </td>

        </tr>
    </table>
</div>

<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemId)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemId)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<div style="float:right;margin-top:20px">
    <p>
        @Html.ActionLink("Placed to order", "Index", "PaymentDetails","", new { @class = "btn btn-success" })
    </p>
</div>

<hr />